/FazanaChat2.WebClient/obj/Debug/net8.0/ref/FazanaChat2.WebClient.dll
/FazanaChat2.WebClient/obj/Debug/net8.0/refint/FazanaChat2.WebClient.dll
/FazanaChat2.WebClient/obj/Debug/net8.0/scopedcss/bundle/FazanaChat2.WebClient.styles.css
/FazanaChat2.WebClient/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/FazanaChat2.WebClient/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
/FazanaChat2.WebClient/obj/Debug/net8.0/scopedcss/projectbundle/FazanaChat2.WebClient.bundle.scp.css
/FazanaChat2.WebClient/obj/Debug/net8.0/staticwebassets/msbuild.build.FazanaChat2.WebClient.props
/FazanaChat2.WebClient/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.FazanaChat2.WebClient.props
/FazanaChat2.WebClient/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.FazanaChat2.WebClient.props
/FazanaChat2.WebClient/obj/Debug/net8.0/staticwebassets/msbuild.FazanaChat2.WebClient.Microsoft.AspNetCore.StaticWebAssets.props
/FazanaChat2.WebClient/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FazanaChat2.WebClient/obj/Debug/net8.0/apphost.exe
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaCh.1821E3A7.Up2Date
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.AssemblyInfo.cs
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.AssemblyInfoInputs.cache
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.assets.cache
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.csproj.AssemblyReference.cache
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.csproj.CoreCompileInputs.cache
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.csproj.FileListAbsolute.txt
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.dll
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.GeneratedMSBuildEditorConfig.editorconfig
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.genruntimeconfig.cache
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.GlobalUsings.g.cs
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.MvcApplicationPartsAssemblyInfo.cache
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.pdb
/FazanaChat2.WebClient/obj/Debug/net8.0/FazanaChat2.WebClient.sourcelink.json
/FazanaChat2.WebClient/obj/Debug/net8.0/staticwebassets.build.json
/FazanaChat2.WebClient/obj/Debug/net8.0/staticwebassets.development.json
/FazanaChat2.WebClient/obj/Debug/net8.0/staticwebassets.pack.json
/FazanaChat2.WebClient/obj/FazanaChat2.WebClient.csproj.nuget.dgspec.json
/FazanaChat2.WebClient/obj/FazanaChat2.WebClient.csproj.nuget.g.props
/FazanaChat2.WebClient/obj/FazanaChat2.WebClient.csproj.nuget.g.targets
/FazanaChat2.WebClient/obj/project.assets.json
/FazanaChat2.WebClient/obj/project.nuget.cache
/FazanaChat2.WebClient/obj/project.packagespec.json
/FazanaChat2.WebClient/obj/rider.project.restore.info
